# ----------------------------------------------------------------------
# 1. SECURITY & CREDENTIALS 
# ----------------------------------------------------------------------

.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Private keys dan sertifikat keamanan
*.pem
*.key
*.cert
*.crt
*.ca-bundle
*.p12
*.pfx
*.asc

# File kredensial AWS, Google Cloud, Azure, dll.
aws_credentials
gcloud_credentials
*.json
!package.json
!tsconfig.json
!manifest.json


# File log debug npm yang 
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------------------------
# 2. SYSTEM & OS JUNK (AGAR REPO BERSIH)
# ----------------------------------------------------------------------
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
.fuse_hidden*
.directory
.Trash-*

# ----------------------------------------------------------------------
# 3. IDE & EDITOR SETTINGS 
# ----------------------------------------------------------------------

.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.project
.classpath
.settings/

# ----------------------------------------------------------------------
# 4. DEPENDENCIES & BUILD OUTPUTS 
# ----------------------------------------------------------------------
# Node.js
node_modules/
jspm_packages/


# Build outputs (General)
dist/
build/
out/
coverage/
.nyc_output/

# ----------------------------------------------------------------------
# 5. LOGS & TEMPORARY FILES
# ----------------------------------------------------------------------
*.log
*.tmp
*.temp
*.bak
*.swp
pid
*.pid
*.seed
*.pid.lock
!posmant/*